body {
  margin: 0;
  max-width: 1280px;
  background-color: $background-color;
  height: 100vs;
  font-family: $sidebar-font;
  color: $font-grey;
}

button.refresh {
  padding-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 0;
  background-color: $background-button;
  img {
    height: 60%;
    width: 60%;
    filter: invert(100%);
  }
}

.container-site {
  display: flex;
  flex-wrap: wrap;
  height: 100vs;
    .col-2 {
      flex: 20%;
      height: 100vs;
    }
    .col-10 {
      flex: 80%;
      height: 100vs;
    }
}

.sidebar {
  background-color: $sidebar-background;
  color: #fff;
  height: 100%;     //potrzeba tu wysokosci na cala wysokosc przegladarki
  .menu, .manager {
    padding: 15px;
    padding-left: 20px;
    padding-bottom: 30px;
  }
  .menu {
    border-bottom: 1px groove;
  }
}

.logo-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      font-family: $sidebar-font;
      text-transform: capitalize;
      margin-top: 22px;
      font-size: 14px;
      a {
        text-decoration: none;
        color: $font-color;
        opacity: 0.6;
      }
      img {
        width: 15px;  //do poprawy wyrównanie pionowe ikony oraz tekstu w linii oraz jednakowy rozmiar ikon
        height: 15px;
        filter: invert(100%);
        margin-right: 15px;
      }
    }
  }
}

.manager {
  font-family: $sidebar-font;
  h3 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.6;
  }
  .mgr-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .mgr-photo {
      position: relative;
      .available-point {
        position: absolute;
        right: -1px;
        top: -1px;
      }
    }
    .mgr-name {
      margin-left: 10px;
      color: $font-blue;
      font-size: 14px;
    }
  }
}

/* Navigation */

.navigation-bar {
  font-family: $sidebar-font;
  height: 60px;
  border: 1px solid;
  border-color: $border-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: $nav-background;
  .cash {
    border-left: 1px solid;
    border-color: $border-color;
    padding: 0 20px;
    height: 100%;
    color: $font-grey;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .wallet {
      opacity: 0.6;
      margin: 0 10px;
      height: 18px;
      width: 18px;
    }
    .arrow-down {
      opacity: 0.6;
      display: flex;
      top: -3px;
      margin: 0 10px;
      height: 15px;
      width: 15px;
    }
  }
  .notification {
    padding: 0 20px;
    border-left: 1px solid;
    border-color: $border-color;
    height: 100%;
    display: flex;
    align-items: center;
    .bell {

      position: relative;
      height: 20px;
      width: 20px;
      .status {
        position: absolute;
        right: 0px;
        top: -8px
      }
      .bell-img {
        opacity: 0.6;
      }
    }
  }
  .login {
    padding: 0 20px;
    border-left: 1px solid;
    border-color: $border-color;
    height: 100%;
    font-weight: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .log-avatar {
      margin: 0 10px 0 0;
      height: 20px;
      width: 20px;
      opacity: 0.6;
    }
    .profile-name {
      color: $font-blue;
      text-transform: capitalize;
      font-size: 13px;
    }
  }
}

.container-article {
  width: auto;
  height: auto;
  background: $nav-background;
  margin: 20px;
  box-shadow: -0px -0px 20px -8px;
  .title {
    padding: 1px 0 0 20px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .chart {
    display: flex;
    justify-content: center;
  }
}

.date-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  form {
    margin-right: 10px;
    fieldset {
      border: 1px solid;
      border-color: $border-color;
      padding: 7px;
      input {
        border: 0;
      }
      .first-date {
        border-right: 1px solid;
        border-color: $border-color;
      }
    }
  }
}

.row {
  padding: 40px 20px;
  border-top: 1px solid;
  border-color: $border-color;
}

.statistics-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .stat-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: $border-color;
    max-width: 40%;
    flex: 50%;
    padding: 16px 0 8px;
    .stat-name {
      text-transform: capitalize;
      font-weight: bold;
    }
    .stat-count {
      color: $font-dark;
    }
  }
}

.statistics {
  padding: 40px;
  p {
    text-transform: capitalize;
    font-weight: bold;
  }
}
