*, *::before, *::after { // poki co jeszcze nie ma potrzeby uzycia tego, ale dane na zas
  box-sizing: border-box;
}

body {
  //min-width: 600px;
  margin: 0;
  background-color: $background-color;
  font-family: $main-font;
  color: $paragraph-color;
  padding: 60px 0 0 180px;
  overflow-x: hidden;
}

/* Navigation */

.navigation-bar {
  height: 60px;
  border: 1px solid;
  border-color: $border-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  background-color: $nav-article-background;
}

/* Sidebar */

.sidebar {
  background-color: $sidebar-background;
  color: #fff;
  .menu {
    padding-left: 0;
    padding-right: 0;
  }
  .manager {
    padding: 15px;
    padding-left: 20px;
    padding-bottom: 16px;
  }
  .menu {
    border-bottom: 1px groove;
    border-color: $font-dimmed;
  }
  .sidebar-nav {
    display: none;
    border-top: 1px groove;
    border-color: $font-dimmed;
  }
}

@media (max-width: 767px) {
  .sidebar .sidebar-nav {
    display: block;
  }
  body {
    padding: 0 0 0 40px;
  }
}
