/* Sidebar */

.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
}

/* Navigation */

nav {
  position: fixed;
  top:0;
  width: 100%;
  left:0;
}

/* Media */

@media (max-width:767px) {
  .sidebar {
    left: -135px;
    .logo-menu {
      padding: 18px 14px;
    }
  }
  .container-site {
    position: absolute;
    left: 45px;
  }
}

@media (max-width: 767px) {
  nav {
    display: none;
  }
  .container-site {
    position: absolute;
    top: 0;
  }
}
