/* Sidebar */

.sidebar {
  height: 100%;
  width: 188px;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
}

/* Navigation */

nav {
  position: fixed;
  top:0;
  width: 100%;
  left:0;
}

/* Container */

.container-site {
  min-width: 768px;
}
