/* Sidebar */

.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  transition: $transition-speed;
}

/* Navigation */

nav {
  position: fixed;
  top:0;
  width: 100%;
  left:0;
  transition: $transition-speed;
}

/* Media */

@media (max-width:767px) {
  .sidebar {
    left: -135px;
    transition: $transition-speed;
    .logo-menu {
      padding: 18px 14px;
    }
  }

  .container-site {
    position: absolute;
    top: 0;
    left: 45px;
    transition: $transition-speed;
  }

  nav {
    display: none;
    transition: $transition-speed;
  }
}

@media (max-width: 767px) {
  .show-sidebar {
    left: 0;
    transition: $transition-speed;
  }
  .show-container {
    left: 180px;
    transition: $transition-speed;
  }
}
